
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  background: linear-gradient(to bottom right, #DDA0DD, #AFEEEE) fixed;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

h1 {
  color: #564e9e;
  margin: 0;
  text-align: center;
}

h2 {
  color: grey;
  margin: 0;
  text-align: center;
  line-height: 2;
  font-weight: 300;
  margin: 0;
}

h3 {
  color: grey;
  line-height: 2;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

p {
  color: black;
  margin: 0;
  font-weight: 200;
  text-align: center;
  line-height: 1.4;
}

.reset, .play-again {
  display: inline-block;
  background-color: #848884;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  padding: 6px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.stats div {
  display: inline-block;
  padding: 3px;
  margin-left: 50px;
  margin-right: 50px;
}

.moves, .timer {
  color: black;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.deck {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #403c64;
  perspective: 1000px;
  overflow: auto;
}

.card {
  border-radius: 10px;
  position: relative;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  -webkit-transform: scale(1);
  transform-style: preserve-3d;
  -webkit-transform-style: -webkit-preserve-3d;
  transition: transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  cursor: pointer;
  backface-visibility: hidden;  
}
.card:active {
  transform: scale(1.1);
  transition: transform 0.2s;
  -webkit-transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.2s;
}
.card.flip {
  transform: rotateY(180deg);
  -webkit-transform: -rotateY(180deg);
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  backface-visibility: hidden;
}

.front {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.back {
  background-color: black;
  color: white;
}

.congrats {
  display: none;
  background-color: white;
  padding-top: 30px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%x;
  height: 100%;
  overflow: auto;
}

.finishStats div {
  font-size: 25px;
  font-weight: 500;
  color: black;
  border-radius: 3px;
  border-color: white;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.top {
  text-align: right; 
  width: 90%;
  cursor: pointer;
  display: inline-block;
}

@media only screen and (min-width:992px) and (orientation : portrait) {
  /* start of large tablets styles */
  html, body {
    padding: 30px 30px;
  }
  
  h1 {
    font-size: 50px;
    line-height: 2;
    font-weight: 500;
  }
  
  h2 {
    font-size: 25px;
  }
  
  h3 {
    font-size: 25px;
  }
  
  p {
    font-size: 25px;
  }
  
  .reset, .play-again {
    font-size: 25px;
  }
  
  .moves, .timer {
    font-size: 25px;
  }
  
  .deck {
    width: 770px;
    height: 770px;
    padding: 6px 6px;
  }
  
  .card {
    height: 175px;
    width: 175px;
    margin: 6px 6px;
    border: white 4px solid;  
    border-radius: 15px;
  }
  
  .front, .back {
    font-size: 60px;
  }
  
  .ribbon {
    height: 25%;
    width: 25%;
  }

  .finishStats div {
    font-size: 30px;
  }
  
  .top {
    font-size: 25px;
  }
}

@media only screen and (min-width:992px) and (orientation : landscape) {
  /* start of desktop styles */
  html, body {
    padding: 30px 30px;
  }
  
  h1 {
    font-size: 40px;
    line-height: 2;
    font-weight: 500;
  }
  
  h2 {
    font-size: 25px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  p {
    font-size: 18px;
  }
  
  .reset, .play-again {
    font-size: 17px;
  }
  
  .moves, .timer {
    font-size: 19px;
  }
  
  .deck {
    width: 560px;
    height: 560px;
    padding: 5px 5px;
  }
  
  .card {
    height: 125px;
    width: 125px;
    margin: 5px 5px;
    border: white 2px solid;
  }
  
  .front, .back {
    font-size: 50px;
  }
  
  .ribbon {
    height: 15%;
    width: 15%;
  }

  .finishStats div {
    font-size: 25px;
  }
  
  .top {
    font-size: 25px;
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  /* start of tablet styles */
  html, body {
    padding: 30px 30px;
  }
  
  h1 {
    font-size: 40px;
    line-height: 2;
    font-weight: 500;
  }
  
  h2 {
    font-size: 25px;
    margin: 0;
    font-weight: 300;
  }
  
  h3 {
    font-size: 18px;
  }
  
  p {
    font-size: 18px;
  }
  
  .reset, .play-again {
    font-size: 17px;
  }
  
  .moves, .timer {
    font-size: 19px;
  }
  
  .deck {
    width: 560px;
    height: 560px;
    padding: 5px 5px;
  }
  
  .card {
    height: 125px;
    width: 125px;
    margin: 5px 5px;
    border: white 2px solid;  
  }
  
  .front, .back {
    font-size: 50px;
  }
  
  .finishStats div {
    font-size: 25px;
  }
  
  .top {
    font-size: 25px;
  }
}

@media only screen and (min-width:350px) and (max-width:767px) {
  /* start of phone styles */
  h1 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  h2 {
    font-size: 25px;
  }
  
  h3 {
    font-size: 16px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  p {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .reset, .play-again {
    font-size: 15px;
  }
  
  .stats div {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  
  .moves, .timer {
    font-size: 17px;
  }
  
  .deck {
    width: 350px;
    height: 350px;
    padding: 5px 5px;
  }
  
  .card {
    height: 80px;
    width: 80px;
    margin: 2px 2px;
    border: white 1.5px solid;  
  }

  .front, .back {
    font-size: 35px;
  }
  
  .finishStats div {
    font-size: 22px;
  }

  .top {
    font-size: 25px;
  }
}

@media only screen and (min-width:300px) and (max-width:349px) {
  /* start of small phone styles */
  h1 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  h2 {
    font-size: 25px;
  }
  
  h3 {
    font-size: 16px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  p {
    font-size: 14px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .reset, .play-again {
    font-size: 15px;
  }
  
  .stats div {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .moves, .timer {
    font-size: 15px;
  }
  
  .deck {
    width: 300px;
    height: 300px;
    padding: 5px 5px;
  }
  
  .card {
    height: 68px;
    width: 68px;
    margin: 2px 2px;
    border: white 1.5px solid;
  }
  
  .front, .back {
    font-size: 35px;
  }
  
  .finishStats div {
    font-size: 22px;
  }
  
  .top {
    font-size: 25px;
  }
}

script {
  display: none;
}